@import "../variables.scss";

.masthead-container {
  box-shadow: $white-container-shadow;
  background-color: $white-bg;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  .masthead {
    margin: auto;
    max-width: 1000px;
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    padding-bottom: 0;

    h1 {
      margin: 0;
    }

    .tabbed-links {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 10px 0 0;
        padding: 0;

        a {
          padding: 10px 20px;
          background-color: $primary-call-action;
          margin-right: 20px;
          color: $primary-call-action-text;
          font-weight: normal;
          font-size: 16px;
          text-decoration: none;
          display: inline-block;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          &:hover{
            background-color: $primary-call-action-hover;
          }

          &.selected {
            background-color: $primary-call-action-hover;
          }
        }
      } 
    }
  }
}
