@import "../variables.scss";

.footer-container {
  box-shadow: $white-container-shadow;
  background-color: $white-bg;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;

  .footer {
    margin: auto;
    max-width: 1280px;
    width: 100%;
    flex-grow: 1;
    padding: 20px;
  }
}
